.form-control:focus {
    border-color: var(--input-border);
    box-shadow: 0 0 5px rgba(150, 150, 150, 0.4);
    color: var(--color-text-primary);
}

.form-control {
    border-color: var(--input-border) !important;
    background-color: var(--input-color) !important;
    color: var(--color-text-primary);
}

.form-control::placeholder {
    color: var(--color-text-secondary);
}

