.win-modal .modal-content {
    border: 1px solid green;
    box-shadow: inset 0 0 4px rgba(0, 255, 0, 0.2); 
    padding: var(--modal-padding);
}

.win-modal {
    backdrop-filter: blur(var(--blur-size));
}

.win-modal .btn-close {
    position: absolute;
    right: 1em;
    top: 27%;
    transform: translateY(-50%);
}

