.lose-modal .modal-content {
    border: 1px solid red;
    box-shadow: inset 0 0 4px rgba(255, 0, 0, 0.8); 
    padding: var(--modal-padding);
    background-color: var(--color-bg-primary);
}

.lose-modal {
    backdrop-filter: blur(var(--blur-size));
}

.lose-modal .btn-close {
    position: absolute;
    right: 1em;
    top: 27%;
    transform: translateY(-50%);
}
