/* Responsiveness */

@media (width < 680px) {
    .map {
        width: 90vw;
        height: 80vw;
    }
}

@media (width >= 680px) and (width <= 800px) {
    .map {
        width: 85vw;
        height: 70vw;
    }
}

@media (width > 800px) and (width <= 1000px) {
    .map {
        width: 80vw;
        height: 60vw;
    }
}

@media (width > 1000px) and (width < 1650px) {
    .map {
        width: 80vw;
    }
}
