.stats-modal .modal-content {
    background: linear-gradient(135deg, rgb(30, 30, 30), rgb(15, 15, 15));
    border: 2px solid rgba(0, 255, 100, 0.5);
    box-shadow: 0 0 15px rgba(0, 255, 100, 0.3);
}

/* Background */
.stats-modal {
    backdrop-filter: blur(var(--blur-size));
}

/* Modal title */
.stats-modal .modal-title {
    font-weight: bold;
    font-size: 2em;
    flex-grow: 1;

    background: linear-gradient(90deg, rgb(240, 243, 37) 0%, rgba(131,208,34,1) 30%, rgba(40,199,82,1) 100%); 
    background-clip: text;
    color: transparent;
    letter-spacing: 1.5px;
}

/* Modal body */
.stats-modal .modal-body {
    padding: 1.5em;
}

/* Modal close button (X) */
.stats-modal .btn-close {
    position: absolute;
    right: 1em;
    top: 60%;
    transform: translateY(-50%);
}

/* filter: invert(62%) sepia(68%) saturate(5%) hue-rotate(11deg) brightness(95%) contrast(96%); */