:root {
    /* Modal */
    --blur-size: 1px;

    --font-heading: "Poppins";
    --font-body: "Nunito";

    --input-color: #242424;
    --input-color-hover: "#2A2A2A";
    --input-border: #555555;

    --color-text-primary: #F5F5F5;
    --color-text-secondary: #AAAAAA;
    --color-text-highlight: #FFFFFF;

    --color-bg-primary: #121212;
    --color-bg-secondary: #1D1D1D;

    --color-bg-navbar: #2C2C2C;

    --color-bg-hover-primary: #1A1A1A;
    --color-bg-hover-secondary: #252525;
    
    --color-bg-active-primary: #222222;
    --color-bg-active-secondary: #2D2D2D;   

    --color-border-primary: #555555;

    --color-bg-btn-selected: #0c0c0c;
}