:root {
    /* Modal */
    --blur-size: 1px;
    --backdrop-dim: rgba(0, 0, 0, 0.3);
    --modal-padding: 5px;
    --modal-bg-color: #212529;

    --border-radius: 5px;
    --map-container-bg-color: #0c0c0a;
    --hover-color: rgb(85, 84, 84);
    --active-color: rgb(51, 51, 51);
    --font-family-heading: "Roboto Condensed", sans-serif;

    --bg-navbar: rgb(44, 41, 41);

    --input-color: #242424;
    --input-color-hover: "#2A2A2A";
    --input-border: #555555;

    --color-text-primary: #F5F5F5;
    --color-text-secondary: #AAAAAA;
    --color-text-highlight: #FFFFFF;

    --color-bg-primary: #121212;
    --color-bg-secondary: #1D1D1D;

    --color-bg-hover-primary: #1A1A1A;
    --color-bg-hover-secondary: #252525;
    
    --color-bg-active-primary: #222222;
    --color-bg-active-secondary: #2D2D2D;   

    --color-border-primary: #555555;
}