.leaflet-container {
    height: 100%;
    width: 100%;
    border-radius: 0.25rem; /* rounded */
    z-index: 5;
}

.leaflet-tooltip {
    background-color: transparent !important; 
    color: var(--color-text-primary) !important;
    border: none !important;
    box-shadow: none !important;
    font-family: var(--font-heading);
}

/* Remove arrow/tail */
.leaflet-tooltip-top:before, 
.leaflet-tooltip-bottom:before, 
.leaflet-tooltip-left:before, 
.leaflet-tooltip-right:before {
    border: none !important;
}

/* Zoom controls */
.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
    background-color: var(--color-bg-primary) !important;
    color: var(--color-text-primary) !important;
    width: 2em !important;
    height: 2em !important;
    border: 1px solid var(--color-border-primary) !important;

    display: flex !important;
    justify-content: center;
    align-items: center;
}

.leaflet-control-zoom-in:hover,
.leaflet-control-zoom-out:hover {
    background-color: var(--color-bg-hover-primary)  !important;
}

.leaflet-control-zoom-in:active,
.leaflet-control-zoom-out:active {
    background-color: var(--color-bg-active-primary)  !important;
}

@media (max-width: 600px) {
    .leaflet-control-zoom-in,
    .leaflet-control-zoom-out {
        width: 1.5em !important;
        height: 1.5em !important;
    }
}