.leaflet-container {
    height: 100%;
    width: 100%;
    background-color: var(--map-container-bg-color) !important;
}

.leaflet-tooltip {
    background-color: transparent !important; 
    color: white !important;
    border: none !important;
    box-shadow: none !important;
}

/* Remove arrow/tail */
.leaflet-tooltip-top:before, 
.leaflet-tooltip-bottom:before, 
.leaflet-tooltip-left:before, 
.leaflet-tooltip-right:before {
    border: none !important;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
    background-color: var(--map-container-bg-color) !important;
    color: var(--text-color) !important;
    width: 2em !important;
    height: 2em !important;
    border: 1px solid var(--text-color) !important;

    display: flex !important;
    justify-content: center;
    align-items: center;
}

.leaflet-control-zoom-in:hover,
.leaflet-control-zoom-out:hover {
    background-color: var(--hover-color)  !important;
}

.leaflet-control-zoom-in:active,
.leaflet-control-zoom-out:active {
    background-color: var(--active-color)  !important;
}